.typeLetter {
    color: var(--background-color);
    font-family: 'Nunito-Bold', sans-serif;
}
.icon-blue {
    color: var(--events-default) !important;
}

.avatar {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: 2px solid #3226e2; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
}

.tittleLetter {
    color: var(--background-color);
    font-family: 'Twinkling', sans-serif;
}

