<!-- app.component.html -->
<app-sidebar></app-sidebar>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-dark" data-bs-theme="dark" id="sidebar-wrapper">
      <div class="sidebar-heading" style="color: white;">Admin Menu </div>
      <div class="list-group list-group-flush">
        <a [routerLink]="'/home'" class="list-group-item list-group-item-action ">Inicio</a>
        <!-- <a routerLink="/usuarios" class="list-group-item list-group-item-action">Usuarios</a>
        
        <a href="#submenuConfig" class="list-group-item list-group-item-action " data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenuConfig">
          Configuración
        </a>
        <div class="collapse" id="submenuConfig">
          <a routerLink="/configuracion/opcion1" class="list-group-item list-group-item-action  pl-5">Opción 1</a>
          <a routerLink="/configuracion/opcion2" class="list-group-item list-group-item-action  pl-5">Opción 2</a>
        </div> -->
      </div>
    </div>
  

    <div id="page-content-wrapper">
      
      
      <div class="container-fluid mt-4">
        <router-outlet></router-outlet> <!-- Aquí se mostrará el contenido de cada ruta -->
      </div>
    </div>
  </div>
