/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import  '../src/app/utils/styles/colors.css';

@font-face {
    font-family: 'Nunito-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('app/utils/styles/fonts/Nunito-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito-Italic';
    font-style: italic;
    font-weight: 400;
    src: url('app/utils/styles/fonts/Nunito-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('app/utils/styles/fonts/Nunito-Bold.ttf') format('truetype');
  }